*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Never commit Speechmatics API key.
/app/src/main/res/raw/config.json

# Ignore module build outputs (e.g. :gesture/build).
**/build/
